.col-lg-10 ol {
  font-size: 1rem;
  font-family: '"Montserrat",sans-serif'; }

a {
  color: black; }

a, p, h1, h2, h3, h4, h5, li {
  text-decoration: none;
  font-family: "Montserrat",sans-serif; }

a {
  color: #000; }

li {
  list-style-type: none; }

/* ul{display: flex;} */
* {
  padding: 0;
  margin: 0; }

.p-10 {
  padding: 10px; }

.p-20 {
  padding: 20px; }

.m-10 {
  margin: 10px; }

.m-20 {
  margin: 20px; }

.font-small {
  font-size: 0.8rem; }

.font-medium {
  font-size: 1rem; }

.font-big {
  font-size: 1.2rem; }

.txtPrimario {
  color: grey; }

.txtSecundario {
  color: black; }

.txtProducto {
  width: 95%;
  text-align: center;
  color: black; }

/* Map Gradientes */
/*GRADIENTES ENCABEZADO Y PIE*/
header, footer {
  background: #47cd86;
  background: -webkit-linear-gradient(bottom, #47cd86, #358734);
  background: -moz-linear-gradient(bottom, #47cd86, #358734);
  background: linear-gradient(to top, #47cd86, #358734); }

/*GRADIENTE BODY*/
body, .categoria .card {
  background: #7abe5e;
  background: -webkit-radial-gradient(center, #7abe5e, #318250);
  background: -moz-radial-gradient(center, #7abe5e, #318250);
  background: radial-gradient(ellipse at center, #7abe5e, #318250); }

/* MIXIN RRSS */
.rrss-facebook {
  font-size: 1rem; }
  .rrss-facebook:hover {
    color: #3b5998; }

.rrss-instagram {
  font-size: 1rem; }
  .rrss-instagram:hover {
    color: #8a3ab9; }

.rrss-youtube {
  font-size: 1rem; }
  .rrss-youtube:hover {
    color: #d33125; }

.col-lg-10 ol {
  font-size: 1rem;
  font-family: '"Montserrat",sans-serif'; }

a {
  color: black; }

a, p, h1, h2, h3, h4, h5, li {
  text-decoration: none;
  font-family: "Montserrat",sans-serif; }

a {
  color: #000; }

li {
  list-style-type: none; }

/* ul{display: flex;} */
* {
  padding: 0;
  margin: 0; }

.p-10 {
  padding: 10px; }

.p-20 {
  padding: 20px; }

.m-10 {
  margin: 10px; }

.m-20 {
  margin: 20px; }

.font-small {
  font-size: 0.8rem; }

.font-medium {
  font-size: 1rem; }

.font-big {
  font-size: 1.2rem; }

.txtPrimario {
  color: grey; }

.txtSecundario {
  color: black; }

.txtProducto {
  width: 95%;
  text-align: center;
  color: black; }

.col-lg-10 ol {
  font-size: 1rem;
  font-family: '"Montserrat",sans-serif'; }

a {
  color: black; }

a, p, h1, h2, h3, h4, h5, li {
  text-decoration: none;
  font-family: "Montserrat",sans-serif; }

a {
  color: #000; }

li {
  list-style-type: none; }

/* ul{display: flex;} */
* {
  padding: 0;
  margin: 0; }

.p-10 {
  padding: 10px; }

.p-20 {
  padding: 20px; }

.m-10 {
  margin: 10px; }

.m-20 {
  margin: 20px; }

.font-small {
  font-size: 0.8rem; }

.font-medium {
  font-size: 1rem; }

.font-big {
  font-size: 1.2rem; }

.txtPrimario {
  color: grey; }

.txtSecundario {
  color: black; }

.txtProducto {
  width: 95%;
  text-align: center;
  color: black; }

/* Map Gradientes */
/*GRADIENTES ENCABEZADO Y PIE*/
header, footer {
  background: #47cd86;
  background: -webkit-linear-gradient(bottom, #47cd86, #358734);
  background: -moz-linear-gradient(bottom, #47cd86, #358734);
  background: linear-gradient(to top, #47cd86, #358734); }

/*GRADIENTE BODY*/
body, .categoria .card {
  background: #7abe5e;
  background: -webkit-radial-gradient(center, #7abe5e, #318250);
  background: -moz-radial-gradient(center, #7abe5e, #318250);
  background: radial-gradient(ellipse at center, #7abe5e, #318250); }

/* MIXIN RRSS */
.rrss-facebook {
  font-size: 1rem; }
  .rrss-facebook:hover {
    color: #3b5998; }

.rrss-instagram {
  font-size: 1rem; }
  .rrss-instagram:hover {
    color: #8a3ab9; }

.rrss-youtube {
  font-size: 1rem; }
  .rrss-youtube:hover {
    color: #d33125; }

body {
  overflow-x: hidden; }

.titulo__principal {
  margin: 20px; }
  .titulo__principal--color {
    color: #212529; }

li {
  list-style: none; }

a, p, h1, h2, h3, h4, h5, li {
  text-decoration: none;
  font-family: "Montserrat",sans-serif; }

* {
  padding: 0;
  margin: 0; }

header {
  text-align: center; }
  header .navbar-collapse {
    justify-content: center; }
  header img {
    max-width: 80px; }

main h4, main ol, main img {
  padding: 10px; }

.img-center {
  display: grid;
  place-items: center; }

footer {
  text-align: center;
  border-top: solid 1px;
  padding-top: 10px;
  padding-bottom: 10px; }
  footer img {
    max-width: 80px; }

.producto {
  display: flex;
  flex-wrap: wrap;
  transition: scale 1s; }

.center {
  display: grid;
  place-items: center; }

.left {
  display: grid;
  place-items: left; }

.navbar-brand img {
  max-width: 60px; }

footer {
  text-align: center;
  border-top: solid 1px; }

.col-lg-12, .col-lg-6 {
  padding-right: 0;
  padding-left: 0; }

.boton, .boton--comprar, .boton--vaciar {
  width: 150px;
  height: 50px;
  background-color: white;
  text-align: center;
  border-radius: 40px;
  border: 1px solid black;
  margin: 5px; }

.boton--comprar {
  background-color: green;
  color: white; }

.boton--vaciar {
  background-color: red;
  color: white; }

/* vista desktop */
@media only screen and (min-width: 1024px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center; }
  .footerFlex {
    display: flex;
    justify-content: space-around; }
  .producto:hover {
    scale: 105%;
    border: solid black 1px; }
  .card:hover {
    border-color: black; } }

/* vista mobile */
@media only screen and (max-width: 1023px) {
  .footerFlex {
    display: flex;
    flex-direction: column; }
  .aside {
    display: none; }
  .categoria {
    padding: 10px;
    display: flex;
    justify-content: center; }
  .banner {
    grid-area: banner;
    display: flex;
    justify-content: center; }
  .banner img {
    max-width: 100%; }
  main iframe {
    max-width: 90%; }
  main form li textarea {
    max-width: 50%; } }
